/* Global */
* {
    font-family: Merriweather;
}

body {
    background-color: #FCF9F2;
}

.red {
    color: red;
    font-weight: bold;
}

.strong {
    font-weight: bold;
}

h2 {
    background-color: red;
    color: #FCF9F2;
    padding: 20px;
    border-radius: 10px;
}

.btn {
    background-color: red;
    color: #FCF9F2;
    border: 1px solid red;

}

.btn:hover {
    background-color: #FCF9F2;
    color: black;
    border: 1px solid black;
}

.btn:active {
    background-color: #FCF9F2;
    color: black;
    border: 1px solid black;
}


/* Banner */
.presentacion {
    height: 100vh;
}

.marvel-banner {
    background-image: url('/assets/images/Marvel_banner.jpeg');
    background-position: center;
    height: 40%;
}

/* Table */
table,
td,
tr {
    border: 3px solid;
}

th {
    background-color: black;
    color: #FCF9F2;
}